backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
distlib==0.3.2
filelock==3.0.12
idna==3.2
pbr==5.6.0
platformdirs==2.2.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
stevedore==3.3.0
urllib3==1.26.6
virtualenv==20.7.2
virtualenv-clone==0.5.6
virtualenvwrapper==4.8.4
